
  
    <section id="content" >
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Login</h4>
              </div>
              <div class="card-body">
                <form  [formGroup]="logForm" class="needs-validation"(ngSubmit)="verifUser()"  >
                  <div class="form-group">
                    <label for="email">E-mail :</label>
                    <input id="email" type="email" class="form-control" name="mail" formControlName="mail">
                    <div *ngIf="mail.touched && mail.invalid">
                      <small *ngIf="mail.errors.required" class="text-danger">E-mail  est Obligatoire<br></small> 
                    </div>
                  </div>
                  <div class="form-group"> 
                    <label for="email">Mot de passe :</label>
                    <input id="password" type="password" class="form-control" name="password" formControlName="password">
                    <div *ngIf="password.touched && password.invalid">
                      <small *ngIf="password.errors.required" class="text-danger">Mot de passe Obligatoire<br></small> 
                    </div>
                  </div> 
                  <div class="form-group">
                    <button type="submit" [disabled]="logForm.invalid" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Se Connecter
                    </button>
                  </div>
                </form>
                 
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
  
