<div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-statistic-4">
          <div class="info-box7-block">
            <h6 class="m-b-20 text-right">Utilisateurs</h6>
            <h4 class="text-right"><i class="fas fa-cart-plus pull-left bg-indigo c-icon"></i><span>{{stat.NBR_USERS}}</span>
            </h4> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-statistic-4">
          <div class="info-box7-block">
            <h6 class="m-b-20 text-right">Annonces</h6>
            <h4 class="text-right"><i class="fas fa-users pull-left bg-cyan c-icon"></i><span>{{stat.NBR_ANNONCES}}</span>
            </h4> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-statistic-4">
          <div class="info-box7-block">
            <h6 class="m-b-20 text-right">Réclamations</h6>
            <h4 class="text-right"><i
                class="fas fa-ticket-alt pull-left bg-deep-orange c-icon"></i><span>{{stat.NBR_REC}}</span>
            </h4> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-statistic-4">
          <div class="info-box7-block">
            <h6 class="m-b-20 text-right">Demandes</h6>
            <h4 class="text-right"><i
                class="fas fa-dollar-sign pull-left bg-green c-icon"></i><span>{{stat.NBR_DMD}}</span>
            </h4> 
          </div>
        </div>
      </div>
    </div>
  </div>